
__pycache__/cubic_spline.cpython-312.pyc
__pycache__/cubic_spline.cpython-38.pyc
__pycache__/sun.cpython-312.pyc
intervallo-server-1-loc-window.py
src/graph.js
src/home-V3-graph.html
src/temp-sun.html
src/temp-sun3.html
src/test-animation.html
src/Test-graph-tactile-2.html
src/Test-graph-tactile.html
src/test-graph.html
src/test.html
test.py
*.js
