*:root {
	font-family: Segoe UI, sans-serif;
	
	/* ----------- Dark mode color palette ----------- */
	--bg-color-dark: #111;
    --text-color-dark: #E0E0E0;
    --secondary-text-color-dark: #B0B0B0;
    --highlight-bg-color-dark: #1E1E1E;
    --border-color-dark: #333;
	
	/* ----------- Light mode color palette ----------- */
	--bg-color-light: #fff;
    --text-color-Light: #333;
    --secondary-text-color-light: #666;
    --border-color-light: #dfdfdf;
    --highlight-bg-color-light: #CCCCCC;
	
	/* ----------- Color Accent ----------- */
	--accent-color: #C70039;   /* red accent*/
	
	--opacity-transparent: 0;
	--opacity-solid: 1;
}

body{ 
	margin: 0;
}

/* ----------- ---------- ----------- */

/* Dark mode styles */

body[data-mode="dark"],
#dialogBox[data-mode="dark"],
#nb_photo[data-mode="dark"],
#tmp_pose[data-mode="dark"],
#enregistrement[data-mode="dark"],
#shutdown[data-mode="dark"],
#big-screen[data-mode="dark"],
#landscape-screen[data-mode="dark"]{
    background-color: var(--bg-color-dark);
	transition: background-color 0.3s, color 0.3s;
}

body[data-mode="dark"],
#dialogBox[data-mode="dark"],
#nb_photo[data-mode="dark"],
#tmp_pose[data-mode="dark"],
#enregistrement[data-mode="dark"],
#main[data-mode="dark"],
#navbar-id[data-mode="dark"]{
	color: var(--text-color-dark);
}

#big-screen[data-mode="dark"],
#landscape-screen[data-mode="dark"] {
    color: var(--accent-color);
}

#main[data-mode="dark"],
#navbar-id[data-mode="dark"],
.shutdown-wrapper[data-mode="dark"] {
    background-color: var(--border-color-dark);
	transition: background-color 0.3s, color 0.3s;
}

/* Light mode styles */

body[data-mode="light"],
#dialogBox[data-mode="light"],
#nb_photo[data-mode="light"],
#tmp_pose[data-mode="light"],
#enregistrement[data-mode="light"],
#shutdown[data-mode="light"],
#big-screen[data-mode="light"],
#landscape-screen[data-mode="light"]{
    background-color: var(--bg-color-light);
	transition: background-color 0.3s, color 0.3s;
}

body[data-mode="light"],
#dialogBox[data-mode="light"],
#nb_photo[data-mode="light"],
#tmp_pose[data-mode="light"],
#enregistrement[data-mode="light"],
#main[data-mode="light"],
#navbar-id[data-mode="light"]{
	color: var(--text-color-light);
}

#big-screen[data-mode="light"],
#landscape-screen[data-mode="light"] {
    color: var(--accent-color);
}

#main[data-mode="light"],
#navbar-id[data-mode="light"],
.shutdown-wrapper[data-mode="light"] {
	color: var(--text-color-light);
    background-color: var(--border-color-light);
	transition: background-color 0.3s, color 0.3s;
}

/* ----------- ---------- ----------- */
/* Dialog box */

#dialogBox {
	border-radius: 8px;
	border: none;
	width: 350px;
	height: 180px;
	padding: 10px 20px;
	box-sizing: border-box;
	overflow: hidden;
	color:#fff;
}

#Compteur {
	text-align: center;
	margin-top: 30px;
}

dialog::backdrop {
	backdrop-filter: blur(25px);
}

/* ----------- ---------- ----------- */
/* Main containers and button */

form { 
	display: table; 
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
}

#form-submit,
#openDialogBox,
#test-shot,
#back-button{
	background-color: var(--accent-color);
	color: var(--text-color-dark);
	font-weight: 600;
}

label { 
	display: table-cell; 
}

.container{
	margin: 15px 25px;
	margin-bottom: 90px;
}

.content{
margin: 0 auto;
}

.container,
.content {
	padding: 20px 20px 5px 20px;
	background-color: var(--border-color-dark);
	color: var(--text-color-dark);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container h1,
.content h1	{
	text-align: center;
}

.container label,
.content label {
	display: block;
	margin-bottom: 10px;
}

.container input[type="number"],
.content input[type="number"],
.container input[type="submit"],
.container button,
.content input[type="submit"],
.content button{
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}

.container input[type="submit"],
.content button{
	background-color: var(--accent-color);
	margin: 0 auto; /* Center the elements horizontally */
}

.container input[type="text"],
.content input[type="text"] {

	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}

/* ----------- ---------- ----------- */

.flex-column-title,
.flex-column-confirm {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column-confirm button {
	display: block;
	width: 45%;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}

.flex-container-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* ----------- ---------- ----------- */

.shutdown-wrapper {
	color: var(--text-color-dark);
	text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	height: 175px;
	width: 90%;
}

#shutdown-inf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	width: 100%;
}

.shutdown-content {
    margin-bottom: 20px;
}

.loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotating-object {
    width: 50px;
    height: 50px;
    border: 5px solid;
	border-color: var(--accent-color);
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ----------- ---------- ----------- */
/* Screen depending on type of device &
orientation */

.big-screen-class {
	margin: 15px;
}

.landscape-screen-class {
	height: 100vh;
	line-height: 100vh;
}

.shutdown-class {
	margin: 15px;
	display: none;
}

.phone-screen-class {
	display: block;
}

/* ----------- ---------- ----------- */
/* Navigation bar */

.navbar-container { 
	display: flex; 
	flex-direction: column; 
	align-items: center;
	margin: 0px 25px 0px 25px;
} 

.navbar { 
	background-color: var(--border-color-dark); 
	display: flex; 
	justify-content: space-around; 
	align-items: center; 
	position: fixed; 
	bottom: 15px; 
	width: 90%;
	border-radius: 25px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} 

.navbar a { 
	
	text-align: center; 
	padding: 8px 8px; 
	text-decoration: none; 
	border-radius: 15px;
	margin: 8px;
} 

.navbar a:hover { 
	background-color: var(--accent-color); 
} 

/* ----------- ---------- ----------- */

#toggle-mode{
	font-size: 0px;
}
.checkbox-round-sleep,
.checkbox-round-shutdown{
	font-size: 0px;
}

.checkbox-round-shutdown,
.checkbox-round-sleep,
#toggle-mode{
margin-left: 9px;
}

.checkbox-round-sleep{
color: #FFED00;
}
.checkbox-round-shutdown{
color: #C70039;
}

.circle {
    width: 1.7vh;
    height: 1.7vh;
	border: solid;
	border-width: 2px;
	border-radius: 50%;
}

#full-circle-sleep{
background-color: yellow;
border-color: yellow;
}

#full-circle-shutdown{
background-color: red;
border-color: red;
}


#half-circle[data-mode="light"] {
	border-color: #333;
    background: linear-gradient(to right, #E0E0E0 50%, #333 50%);
	
}
#half-circle[data-mode="dark"] {
	border-color: #E0E0E0;
    background: linear-gradient(to right, #E0E0E0 50%, #333 50%);
	
}

/* ----------- ---------- ----------- */
/* More info bubles */

.info .bulle{	
	display:none;
	color: var(--text-color-dark);
	background:rgba(51,51,51,0.75);
	padding:20px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	width:100px;
	text-align:center;
	position: absolute;
	z-index:10;
}

.info:hover .bulle{ 
	display:flex;
	justify-content: flex-end;
}
.info-bulle{
	justify-content: flex-end;
}

.label-info{
	display: flex;
    justify-content: space-between;
}


.tooltip{
	display: inline;
	position: relative;
}
.tooltip:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 26px;
	color: var(--text-color-dark);
	content: attr(title);
	right: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 220px;
}
.tooltip:hover:before{
	border: solid;
	border-color: var(--border-color-dark) transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	right: 50%;
	position: absolute;
	z-index: 99;
}

/* ----------- ---------- ----------- */

#notification{
	background-color: var(--accent-color);
	padding: 15px;
	border-radius: 7px;
	justify-content: space-between;
	transition:
    opacity 0.5s,
    display 0.5s allow-discrete;
}

.notification-title {
	font-weight: bold;
	font-size: clamp(1em, 2.5vw, 1.4em);
}

.notification-message {
	margin-top: 5px;
	font-size: clamp(0.85em, 2vw, 1.2em);
}

#notification[data-mode="show"]{
	display: flex;
	opacity: 1;
	color: var(--bg-color-light);
}

#notification[data-mode="hide"]{
	display: none;
	opacity: 0;
}

/* ----------- ---------- ----------- */
/* media querry screen width */

@media screen and (max-width: 800px){
	.param-submit{width: 98%;}
	.IntervalForm {width: 98%;}
	.confirmation-form {width: 98%;}
	.back-button {width: 98%;}
	.form-end {width: 98%;}
}
